<beats>
  <beat time="3360" type="2"/>
  <beat time="3860" type="1"/>
  <beat time="4110" type="2"/>
  <beat time="4360" type="3"/>
  <beat time="4860" type="1"/>
  <beat time="5360" type="2"/>
  <beat time="5860" type="1"/>
  <beat time="6110" type="2"/>
  <beat time="7360" type="3"/>
  <beat time="7860" type="1"/>
  <beat time="8110" type="2"/>
  <beat time="8360" type="3"/>
  <beat time="9360" type="3"/>
  <beat time="9860" type="2"/>
  <beat time="10110" type="1"/>
  <beat time="11360" type="1"/>
  <beat time="11860" type="3"/>
  <beat time="12110" type="2"/>
  <beat time="12360" type="1"/>
  <beat time="13360" type="1"/>
  <beat time="13860" type="2"/>
  <beat time="14110" type="3"/>
  <beat time="15360" type="3"/>
  <beat time="15860" type="3"/>
  <beat time="16110" type="2"/>
  <beat time="16360" type="1"/>
  <beat time="16860" type="3"/>
  <beat time="17110" type="1"/>
  <beat time="17360" type="3"/>
  <beat time="17860" type="2"/>
  <beat time="18110" type="3"/>
  <beat time="19110" type="2"/>
  <beat time="19360" type="3"/>
  <beat time="20360" type="1"/>
  <beat time="21360" type="2"/>
  <beat time="22360" type="3"/>
  <beat time="23360" type="2"/>
  <beat time="25360" type="1"/>
  <beat time="26360" type="3"/>
  <beat time="27360" type="2"/>
  <beat time="27860" type="3"/>
  <beat time="28360" type="1"/>
  <beat time="28860" type="3"/>
  <beat time="29110" type="1"/>
  <beat time="29360" type="3"/>
  <beat time="29860" type="2"/>
  <beat time="30360" type="1"/>
  <beat time="30610" type="3"/>
  <beat time="30860" type="1"/>
  <beat time="31110" type="2"/>
  <beat time="31360" type="2"/>
  <beat time="31860" type="1"/>
  <beat time="32360" type="2"/>
  <beat time="32860" type="1"/>
  <beat time="33110" type="3"/>
  <beat time="33360" type="2"/>
  <beat time="33860" type="3"/>
  <beat time="34360" type="1"/>
  <beat time="34610" type="3"/>
  <beat time="34860" type="1"/>
  <beat time="35110" type="2"/>
  <beat time="35360" type="2"/>
  <beat time="36360" type="1$3"/>
  <beat time="37360" type="2"/>
  <beat time="38360" type="1"/>
  <beat time="38860" type="2"/>
  <beat time="39360" type="3"/>
  <beat time="39610" type="3"/>
  <beat time="40360" type="1"/>
  <beat time="40610" type="2"/>
  <beat time="41110" type="2"/>
  <beat time="41360" type="3"/>
  <beat time="41610" type="1"/>
  <beat time="41860" type="3"/>
  <beat time="42110" type="1"/>
  <beat time="42360" type="3"/>
  <beat time="42610" type="2"/>
  <beat time="42860" type="3"/>
  <beat time="43110" type="2"/>
  <beat time="43360" type="1"/>
  <beat time="43860" type="1"/>
  <beat time="44110" type="2"/>
  <beat time="44360" type="3"/>
  <beat time="44610" type="2"/>
  <beat time="45360" type="2"/>
  <beat time="45610" type="1"/>
  <beat time="45860" type="3"/>
  <beat time="46110" type="2"/>
  <beat time="46360" type="3"/>
  <beat time="46860" type="1"/>
  <beat time="47360" type="2"/>
  <beat time="47610" type="3"/>
  <beat time="47860" type="1"/>
  <beat time="48110" type="3"/>
  <beat time="48360" type="2"/>
  <beat time="49110" type="3"/>
  <beat time="49360" type="2"/>
  <beat time="49610" type="3"/>
  <beat time="49860" type="1"/>
  <beat time="50110" type="2"/>
  <beat time="50360" type="3"/>
  <beat time="50610" type="2"/>
  <beat time="50860" type="1"/>
  <beat time="51110" type="2"/>
  <beat time="51360" type="3"/>
  <beat time="51860" type="3"/>
  <beat time="52110" type="2"/>
  <beat time="52360" type="1"/>
  <beat time="52860" type="2"/>
  <beat time="53360" type="3"/>
  <beat time="53860" type="1"/>
  <beat time="54110" type="3"/>
  <beat time="54360" type="1"/>
  <beat time="54610" type="2"/>
  <beat time="55110" type="3"/>
  <beat time="55360" type="2"/>
  <beat time="55860" type="3"/>
  <beat time="56110" type="2"/>
  <beat time="56360" type="1"/>
  <beat time="56860" type="3"/>
  <beat time="57110" type="1"/>
  <beat time="57360" type="3"/>
  <beat time="57860" type="1"/>
  <beat time="58110" type="2"/>
  <beat time="58860" type="1"/>
  <beat time="59360" type="3"/>
  <beat time="59860" type="1"/>
  <beat time="60110" type="2"/>
  <beat time="60360" type="3"/>
  <beat time="60860" type="3"/>
  <beat time="61360" type="1"/>
  <beat time="61610" type="2"/>
  <beat time="61860" type="1"/>
  <beat time="62110" type="2"/>
  <beat time="62360" type="3"/>
  <beat time="62860" type="2"/>
  <beat time="63360" type="1"/>
  <beat time="63610" type="3"/>
  <beat time="63860" type="2"/>
  <beat time="64110" type="3"/>
  <beat time="64360" type="2"/>
  <beat time="65110" type="1"/>
  <beat time="65360" type="3"/>
  <beat time="65610" type="1"/>
  <beat time="65860" type="3"/>
  <beat time="66110" type="2"/>
  <beat time="66360" type="1"/>
  <beat time="66610" type="2"/>
  <beat time="66860" type="3"/>
  <beat time="67110" type="2"/>
  <beat time="67360" type="1"/>
  <beat time="67860" type="3"/>
  <beat time="68110" type="2"/>
  <beat time="68360" type="1"/>
  <beat time="68610" type="2"/>
  <beat time="69360" type="2"/>
  <beat time="69610" type="1"/>
  <beat time="69860" type="2"/>
  <beat time="70110" type="3"/>
  <beat time="70360" type="2"/>
  <beat time="70860" type="1"/>
  <beat time="71360" type="2"/>
  <beat time="71610" type="1"/>
  <beat time="71860" type="3"/>
  <beat time="72110" type="1"/>
  <beat time="72360" type="3"/>
  <beat time="73110" type="3"/>
  <beat time="73360" type="2"/>
  <beat time="73610" type="3"/>
  <beat time="73860" type="2"/>
  <beat time="74110" type="1"/>
  <beat time="74360" type="2"/>
  <beat time="74610" type="1"/>
  <beat time="74860" type="3"/>
  <beat time="75110" type="1"/>
  <beat time="75360" type="1$3"/>
  <beat time="75610" type="2"/>
  <beat time="75860" type="1"/>
  <beat time="76110" type="2"/>
  <beat time="76360" type="3"/>
  <beat time="76860" type="3"/>
  <beat time="77110" type="1"/>
  <beat time="77360" type="2"/>
  <beat time="77860" type="2"/>
  <beat time="78360" type="3"/>
  <beat time="78610" type="1"/>
  <beat time="78860" type="2"/>
  <beat time="79110" type="3"/>
  <beat time="79360" type="1"/>
  <beat time="79860" type="3"/>
  <beat time="80110" type="2"/>
  <beat time="80360" type="1"/>
  <beat time="80860" type="1"/>
  <beat time="81110" type="3"/>
  <beat time="81360" type="1"/>
  <beat time="82110" type="2"/>
  <beat time="82360" type="3"/>
  <beat time="82610" type="2"/>
  <beat time="82860" type="1"/>
  <beat time="83110" type="3"/>
  <beat time="83360" type="2"/>
  <beat time="83860" type="1"/>
  <beat time="84110" type="2"/>
  <beat time="84360" type="3"/>
  <beat time="85360" type="1"/>
  <beat time="86110" type="3"/>
  <beat time="86360" type="3"/>
  <beat time="86610" type="2"/>
  <beat time="86860" type="2"/>
  <beat time="87110" type="1"/>
  <beat time="87360" type="1"/>
  <beat time="87860" type="3"/>
  <beat time="88110" type="2"/>
  <beat time="88360" type="1"/>
  <beat time="88860" type="3"/>
  <beat time="89360" type="2"/>
  <beat time="90860" type="2"/>
  <beat time="91360" type="1"/>
  <beat time="91860" type="1"/>
  <beat time="92110" type="2"/>
  <beat time="92360" type="3"/>
  <beat time="93110" type="3"/>
  <beat time="93360" type="1"/>
  <beat time="93610" type="2"/>
  <beat time="93860" type="1"/>
  <beat time="94110" type="2"/>
  <beat time="94360" type="3"/>
  <beat time="94860" type="3"/>
  <beat time="95360" type="1"/>
  <beat time="95610" type="3"/>
  <beat time="95860" type="3"/>
  <beat time="96360" type="2"/>
  <beat time="96860" type="2"/>
  <beat time="97110" type="3"/>
  <beat time="97360" type="1"/>
  <beat time="98360" type="1$3"/>
  <beat time="99360" type="2"/>
  <beat time="99610" type="1"/>
  <beat time="99860" type="3"/>
  <beat time="100110" type="1"/>
  <beat time="100360" type="3"/>
  <beat time="100860" type="3"/>
  <beat time="101110" type="2"/>
  <beat time="101360" type="1"/>
  <beat time="101610" type="3"/>
  <beat time="101860" type="1"/>
  <beat time="102110" type="3"/>
  <beat time="102360" type="1"/>
  <beat time="102860" type="3"/>
  <beat time="103360" type="3"/>
  <beat time="103610" type="1"/>
  <beat time="103860" type="2"/>
  <beat time="104110" type="1"/>
  <beat time="104360" type="3"/>
  <beat time="104860" type="2"/>
  <beat time="105360" type="2"/>
  <beat time="105610" type="3"/>
  <beat time="105860" type="2"/>
  <beat time="106110" type="1"/>
  <beat time="106360" type="3"/>
  <beat time="106860" type="3"/>
  <beat time="107110" type="1"/>
  <beat time="107360" type="1"/>
  <beat time="107610" type="3"/>
  <beat time="107860" type="2"/>
  <beat time="108110" type="3"/>
  <beat time="108360" type="2"/>
  <beat time="108860" type="3"/>
  <beat time="109110" type="1"/>
  <beat time="109360" type="3"/>
  <beat time="109610" type="1"/>
  <beat time="109860" type="2"/>
  <beat time="110110" type="1"/>
  <beat time="110360" type="2"/>
  <beat time="110860" type="3"/>
  <beat time="111360" type="2"/>
  <beat time="111610" type="1"/>
  <beat time="111860" type="3"/>
  <beat time="112110" type="1"/>
  <beat time="112360" type="3"/>
  <beat time="112860" type="1"/>
  <beat time="113360" type="1"/>
  <beat time="113610" type="2"/>
  <beat time="113860" type="3"/>
  <beat time="114110" type="2"/>
  <beat time="114360" type="3"/>
  <beat time="114860" type="2"/>
  <beat time="115110" type="1"/>
  <beat time="115360" type="3"/>
  <beat time="115610" type="3"/>
  <beat time="115860" type="2"/>
  <beat time="116110" type="1"/>
  <beat time="116360" type="2"/>
  <beat time="116610" type="3"/>
  <beat time="116860" type="3"/>
  <beat time="117110" type="1"/>
  <beat time="117360" type="2"/>
  <beat time="117610" type="2"/>
  <beat time="117860" type="3"/>
  <beat time="118110" type="2"/>
  <beat time="118360" type="1"/>
  <beat time="118610" type="3"/>
  <beat time="118860" type="1"/>
  <beat time="119360" type="1"/>
  <beat time="119610" type="2"/>
  <beat time="119860" type="2"/>
  <beat time="120110" type="1"/>
  <beat time="120360" type="3"/>
  <beat time="120610" type="2"/>
  <beat time="121360" type="3"/>
  <beat time="121610" type="3"/>
  <beat time="121860" type="2"/>
  <beat time="122110" type="1"/>
  <beat time="122360" type="3"/>
  <beat time="122610" type="1"/>
  <beat time="123110" type="3"/>
  <beat time="123360" type="2"/>
  <beat time="123610" type="3"/>
  <beat time="123860" type="2"/>
  <beat time="124110" type="1"/>
  <beat time="124360" type="3"/>
  <beat time="124860" type="1"/>
  <beat time="125110" type="3"/>
  <beat time="125360" type="1"/>
  <beat time="125610" type="1"/>
  <beat time="125860" type="3"/>
  <beat time="126110" type="2"/>
  <beat time="126360" type="3"/>
  <beat time="126860" type="2"/>
  <beat time="127360" type="1"/>
  <beat time="127610" type="3"/>
  <beat time="127860" type="2"/>
  <beat time="128111" type="3"/>
  <beat time="128361" type="2"/>
  <beat time="128611" type="1"/>
  <beat time="129361" type="3"/>
  <beat time="129611" type="3"/>
  <beat time="129861" type="2"/>
  <beat time="130111" type="3"/>
  <beat time="130361" type="1"/>
  <beat time="130611" type="3"/>
  <beat time="131360" type="1$3"/>
  <beat time="131860" type="1"/>
  <beat time="132110" type="2"/>
  <beat time="132360" type="3"/>
  <beat time="132860" type="3"/>
  <beat time="133360" type="1"/>
  <beat time="133860" type="3"/>
  <beat time="134360" type="3"/>
  <beat time="134860" type="3"/>
  <beat time="135110" type="1"/>
  <beat time="135360" type="3"/>
  <beat time="135610" type="2"/>
  <beat time="136360" type="3"/>
  <beat time="136860" type="3"/>
  <beat time="137360" type="2"/>
  <beat time="137860" type="1"/>
  <beat time="138360" type="1"/>
</beats>
