<beats>
  <beat time="3227" type="1"/>
  <beat time="3894" type="2"/>
  <beat time="4227" type="3"/>
  <beat time="5227" type="2"/>
  <beat time="5561" type="3"/>
  <beat time="5894" type="1"/>
  <beat time="6227" type="2"/>
  <beat time="6561" type="3"/>
  <beat time="7061" type="2"/>
  <beat time="7894" type="1"/>
  <beat time="8227" type="3"/>
  <beat time="8560" type="1"/>
  <beat time="8894" type="3"/>
  <beat time="9227" type="2"/>
  <beat time="9560" type="3"/>
  <beat time="9894" type="2"/>
  <beat time="10560" type="1"/>
  <beat time="10894" type="2"/>
  <beat time="11227" type="3"/>
  <beat time="11560" type="2_1334"/>
  <beat time="13227" type="1$3"/>
  <beat time="13894" type="1"/>
  <beat time="14227" type="3"/>
  <beat time="14560" type="1"/>
  <beat time="14894" type="3"/>
  <beat time="15560" type="1"/>
  <beat time="15894" type="2$3"/>
  <beat time="16560" type="3"/>
  <beat time="16894" type="1"/>
  <beat time="17227" type="3"/>
  <beat time="17560" type="1"/>
  <beat time="18227" type="3"/>
  <beat time="18560" type="1$2"/>
  <beat time="19227" type="1"/>
  <beat time="19560" type="2"/>
  <beat time="19894" type="1"/>
  <beat time="20227" type="2"/>
  <beat time="20894" type="2"/>
  <beat time="21227" type="1$3"/>
  <beat time="21894" type="3"/>
  <beat time="22227" type="2"/>
  <beat time="22560" type="3"/>
  <beat time="22894" type="2"/>
  <beat time="23560" type="2"/>
  <beat time="23894" type="2$3"/>
  <beat time="24560" type="1"/>
  <beat time="24894" type="1"/>
  <beat time="25227" type="3"/>
  <beat time="25560" type="3"/>
  <beat time="26227" type="2"/>
  <beat time="26560" type="1$2"/>
  <beat time="27227" type="3"/>
  <beat time="27560" type="3"/>
  <beat time="27894" type="1"/>
  <beat time="28227" type="1"/>
  <beat time="28894" type="2"/>
  <beat time="29227" type="1$3"/>
  <beat time="29894" type="1"/>
  <beat time="30227" type="1"/>
  <beat time="30560" type="2"/>
  <beat time="30894" type="2"/>
  <beat time="31560" type="3"/>
  <beat time="31894" type="2$3"/>
  <beat time="32561" type="3"/>
  <beat time="32894" type="3"/>
  <beat time="33227" type="2"/>
  <beat time="33560" type="2"/>
  <beat time="34227" type="1"/>
  <beat time="34560" type="1$2"/>
  <beat time="35227" type="1"/>
  <beat time="35560" type="3"/>
  <beat time="35894" type="1"/>
  <beat time="36227" type="3"/>
  <beat time="36894" type="1"/>
  <beat time="37227" type="2$3"/>
  <beat time="37894" type="3"/>
  <beat time="38227" type="1"/>
  <beat time="38560" type="3"/>
  <beat time="38894" type="1"/>
  <beat time="39560" type="3"/>
  <beat time="39894" type="1$2"/>
  <beat time="40560" type="1"/>
  <beat time="40894" type="2"/>
  <beat time="41227" type="1"/>
  <beat time="41560" type="2"/>
  <beat time="42227" type="2"/>
  <beat time="42560" type="1$3"/>
  <beat time="43227" type="3"/>
  <beat time="43560" type="2"/>
  <beat time="43894" type="3"/>
  <beat time="44227" type="2"/>
  <beat time="44894" type="2"/>
  <beat time="45227" type="2$3"/>
  <beat time="45894" type="1"/>
  <beat time="46227" type="1"/>
  <beat time="46560" type="3"/>
  <beat time="46894" type="3"/>
  <beat time="47560" type="2"/>
  <beat time="47894" type="1$2"/>
  <beat time="48560" type="3"/>
  <beat time="48894" type="3"/>
  <beat time="49227" type="1"/>
  <beat time="49560" type="1"/>
  <beat time="50227" type="2"/>
  <beat time="50560" type="1$3"/>
  <beat time="51227" type="1"/>
  <beat time="51560" type="1"/>
  <beat time="51894" type="2"/>
  <beat time="52227" type="2"/>
  <beat time="52894" type="3"/>
  <beat time="53227" type="2$3"/>
  <beat time="53894" type="3"/>
  <beat time="54227" type="3"/>
  <beat time="54560" type="2"/>
  <beat time="54894" type="2"/>
  <beat time="55560" type="1"/>
  <beat time="55894" type="1$2"/>
  <beat time="56894" type="1"/>
  <beat time="57227" type="2"/>
  <beat time="57560" type="3"/>
  <beat time="58560" type="1"/>
  <beat time="58894" type="2"/>
  <beat time="59227" type="1"/>
  <beat time="59560" type="2"/>
  <beat time="59894" type="3"/>
  <beat time="60227" type="1"/>
  <beat time="60394" type="2"/>
  <beat time="61227" type="2"/>
  <beat time="61560" type="2"/>
  <beat time="61894" type="1"/>
  <beat time="62227" type="3"/>
  <beat time="62560" type="1"/>
  <beat time="62894" type="3"/>
  <beat time="63227" type="1"/>
  <beat time="63894" type="2"/>
  <beat time="64227" type="3"/>
  <beat time="64560" type="2"/>
  <beat time="64894" type="1"/>
  <beat time="66227" type="1"/>
  <beat time="66394" type="2"/>
  <beat time="66560" type="1"/>
  <beat time="66894" type="2"/>
  <beat time="67227" type="3"/>
  <beat time="67560" type="1"/>
  <beat time="67894" type="3"/>
  <beat time="68227" type="2"/>
  <beat time="68894" type="3"/>
  <beat time="69227" type="2"/>
  <beat time="69560" type="3"/>
  <beat time="69894" type="1"/>
  <beat time="70227" type="1"/>
  <beat time="70560" type="2"/>
  <beat time="70894" type="3"/>
  <beat time="71560" type="1"/>
  <beat time="71894" type="2"/>
  <beat time="72227" type="1"/>
  <beat time="72560" type="3"/>
  <beat time="72894" type="1"/>
  <beat time="73227" type="3"/>
  <beat time="73394" type="2"/>
  <beat time="73727" type="1"/>
  <beat time="74227" type="2"/>
  <beat time="74560" type="3"/>
  <beat time="74894" type="1"/>
  <beat time="75227" type="3"/>
  <beat time="75560" type="3"/>
  <beat time="75894" type="2"/>
  <beat time="76227" type="1"/>
  <beat time="76894" type="2_666"/>
  <beat time="77894" type="3"/>
  <beat time="78227" type="2"/>
  <beat time="78894" type="2"/>
  <beat time="79227" type="3"/>
  <beat time="79560" type="2"/>
  <beat time="80227" type="3"/>
  <beat time="80560" type="1"/>
  <beat time="80894" type="1"/>
  <beat time="81227" type="2"/>
  <beat time="81560" type="3"/>
  <beat time="82227" type="2_667"/>
  <beat time="83227" type="3"/>
  <beat time="83560" type="2"/>
  <beat time="84227" type="2"/>
  <beat time="84560" type="3"/>
  <beat time="85227" type="2"/>
  <beat time="85560" type="1"/>
  <beat time="85894" type="3"/>
  <beat time="86227" type="3"/>
  <beat time="86560" type="2"/>
  <beat time="86894" type="1"/>
  <beat time="87227" type="3_667"/>
  <beat time="87894" type="2_666"/>
  <beat time="88560" type="1_2000"/>
  <beat time="89227" type="3"/>
  <beat time="89727" type="2"/>
  <beat time="90227" type="2"/>
  <beat time="90560" type="3"/>
  <beat time="91227" type="1"/>
  <beat time="91560" type="1"/>
  <beat time="91894" type="3"/>
  <beat time="92394" type="1"/>
  <beat time="92894" type="1"/>
  <beat time="93227" type="3"/>
  <beat time="93894" type="2"/>
  <beat time="94227" type="2"/>
  <beat time="94560" type="1"/>
  <beat time="95060" type="2"/>
  <beat time="95560" type="2"/>
  <beat time="95894" type="1"/>
  <beat time="96560" type="3"/>
  <beat time="96894" type="3"/>
  <beat time="97227" type="1"/>
  <beat time="97727" type="3"/>
  <beat time="98227" type="3"/>
  <beat time="98560" type="1"/>
</beats>